.search-bar {
  display: flex;
  background-color: #325a74 !important;
  align-items: center;
  background-color: #325a74; /* Same color as the SidebarMenu and ReportsList container */
  padding: 10px 14px;
  border-radius: 15px;
  width: 350px; /* Adjusted width for the search bar */
  height: 45px; /* Adjusted height */
  box-sizing: border-box;
  position: absolute;
  left: 285px; /* Align the search bar with the ReportsList */
  top: 40px; /* Adjust the top position to control vertical alignment */
}


.search-bar input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-style: italic;
  outline: none;
  padding-left: 10px; /* Padding for better alignment */
}

/* Placeholder color */
.search-bar input::placeholder {
  color: #ffffff;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px; /* Add space between input and icon */
  filter: brightness(0) invert(1); /* This makes the image appear white */
  cursor: pointer;
}
