/* ProfileSection.css */

.profile-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-icon {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  margin-left: 10px; /* Space between text and icon */
  filter: brightness(0) invert(1); /* This makes the icon white */
}

.username {
  color: white;
  font-size: 18px; /* Larger text */
  font-weight: bold; /* Bold text */
}