/* src/styles/ParticipantView/MetricsSection.css */
.metrics-section {
    background-color: #325a74;
    height: 500px;
    width: 570px;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    top: 230px;
    left: 910px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out content evenly */
}

.domains {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.metrics-menu {
    background-color: #2a4d64;
    border-radius: 15px;
    padding: 15px;
    flex-grow: 1; /* Allow the menu to expand */
    overflow-y: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
